{
  "python.defaultInterpreterPath": "/usr/bin/python3",
  "python.analysis.extraPaths": [
{% for src in source_paths %}
    "{{ src }}"{% if not loop.last %},{% endif %}

{% endfor %}
  ],
  "editor.formatOnSave": true,
  "[python]": {
    "editor.defaultFormatter": "ms-python.black-formatter",
    "editor.codeActionsOnSave": {
      "source.organizeImports": "explicit"
    }
  },
  "python.linting.enabled": true,
  "python.linting.ruffEnabled": true,
  "files.exclude": {
    "**/__pycache__": true,
    "**/*.pyc": true,
    "**/.git": false
  },
  "search.exclude": {
    "**/node_modules": true,
    "**/__pycache__": true,
    "**/filestore": true
  },
  "odoo.workspace": "{{ workspace }}"
}
